@page
@model ErroModel
@{
    Layout = "_Layout";
    ViewData["HideHeader"] = true;
    ViewData["Title"] = "Erro";
}

@section Styles {
        <link rel="stylesheet" href="~/css/pages/entrar.css">
}

<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2 class="auth-title">PARECE QUE ESSA PÁGINA NÃO EXISTE</h2>
        </div>
        <div class="auth-form">
            <a href="/" class="auth-button" style="text-align: center; display: block; text-decoration: none;">
                Voltar à Loja
            </a>
        </div>
    </div>
</div>
