@page
@model SiteAspas.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "SiteAspas - Brechó Pet";
}

<div class="carrossel-container mb-10"> 
    <h2 class="text-2xl font-bold mb-5 text-center">Velas aromáticas</h2>
    <div class="carrossel-wrapper">
        <div class="carrossel">
            <img src="/img/v1.jpg" alt="Item 1" class="carrossel-img" />
            <img src="/img/v2.jpg" alt="Item 2" class="carrossel-img" />
            <img src="/img/v3.jpg" alt="Item 3" class="carrossel-img" />
            <img src="/img/v4.jpg" alt="Item 4" class="carrossel-img" />
            <img src="/img/v5.jpg"  alt="Item 5" class="carrossel-img" />
            <img src="/img/v6.jpg" alt="Item 6" class="carrossel-img" />
        </div>
    </div>
</div>
    
    <div class="produtos-container">
        @foreach (var produto in Model.ProdutosDestaque)
        {
            <div class="card">
                <img src="@produto.ImagemUrl" class="card-img" />
                <div class="card-body">
                    <div class="card-title">@produto.Nome</div>
                    <div class="card-price">@produto.Preco.ToString("C")</div>
                    <button class="card-button" onclick="location.href='/Produto/@produto.Id'">Ver Produto</button>
                </div>
            </div>
        }
    </div>
